<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASFDEX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>POKEDEX</h1>
    <input type="text" id="search-bar" placeholder="Enter the name or type of a Pokémon." onkeyup="filterPokemon()" >
    <div class="pokedex-container" id="pokedex-container">
        {% for key, pokemon in pokemons.items() %}
            <div class="pokemon-card">
                <img src="{{ pokemon.foto }}" alt="{{ pokemon.nome }}">
                <div class="pokemon-name">{{ pokemon.nome.capitalize() }}</div>
                <div class="pokemon-types">
                    {% for tipo in pokemon.tipos %}
                        <span class="pokemon-type">{{ tipo.capitalize() }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>