<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASFDEX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>POKEDEX</h1>
    <div class="pokedex-container">
        <div class="pokemon-card">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Bulbasaur">
            <div class="pokemon-name">Bulbasaur</div>
            <div class="pokemon-types">
                <span class="pokemon-type">Grama</span>
                <span class="pokemon-type">Veneno</span>
            </div>
        </div>
        <div class="pokemon-card">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="Charmander">
            <div class="pokemon-name">Charmander</div>
            <div class="pokemon-types">
                <span class="pokemon-type">Fogo</span>
            </div>
        </div>
        <div class="pokemon-card">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png" alt="Squirtle">
            <div class="pokemon-name">Squirtle</div>
            <div class="pokemon-types">
                <span class="pokemon-type">Água</span>
            </div>
        </div>
        <div class="pokemon-card">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pikachu">
            <div class="pokemon-name">Pikachu</div>
            <div class="pokemon-types">
                <span class="pokemon-type">Elétrico</span>
            </div>
        </div>
    </div>
</body>
</html>